<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id="app">
        <div class="username">
            <input type="text" placeholder="用户名" v-model="name">
        </div>
        <div class="mail">
            <input type="mail" placeholder="邮箱" v-model="mail">
        </div>
        <div class="upload-btn" @click="handleUpload">上传</div>
        <div class="show-btn" @click="handleShow">显示人物信息</div>
        <ul class="person-list" v-if="personList.length">
            <li class="person" v-for="person in personList">
                <span>{{ person.name }}</span>
                <span>{{ person.mail }}</span>
            </li>
        </ul>
    </div>

    <script src="vue.js"></script>
    <script src="axios.js"></script>
    <script>
        axios.interceptors.request.use(config => {
            console.log(config);
            return config
        }, error => {

            return Promise.reject(error);
        })
        
        axios.interceptors.response.use(response => {
            console.log(response);
            if (response.status === 200) {
                return response.data;
            } else {
                console.log("错误")
            }
        }, error => {
            if (error.response) {
                console.log('响应时错误');
            } else if (error.request) {
                // 请求时错误
                console.log('请求时错误');
            }
            return Promise.reject(error);
        })

        axios.defaults.baseURL = 'https://developer.duyiedu.com/vue'

        const vm = new Vue({
            el: "#app",
            data: {
                name: '',
                mail: '',
                msg: '',
                personList: []
            },
            methods: {
                handleUpload() {},
                handleShow() {
                    axios.get('/getUserInfo').then(res => {
                        console.log(res);
                    }).catch(error => {
                        console.log(error.request); //请求时错误
                        console.log(error.response); //响应时错误
                        if (error.response) {
                            const {
                                status
                            } = error.response;

                            switch (status) {
                                case 404:
                                    alert('url地址错误');
                                    break;
                                case 401:
                                    alert('xxx')

                            }
                        } else if (error.response) {
                            console.log('请求时错误');
                        } else {
                            console.log(error.message);
                        }
                    });
                },
                handleCancelGet() {
                    source.cancel('取消请求');
                }
            },
            watch: {
                msg() {
                    if (this.msg === '') {
                        return;
                    }
                    alert(this.msg);
                    this.msg = '';
                }
            }
        })
    </script>
</body>

</html>